*, *::before, *::after {
  box-sizing: border-box;
  margin: 0.2rem;
  padding: 0;
}

body {
  font-family: 'Sulphur Point', sans-serif;
}

h1 {
  font-size: 5vh;
  font-weight: 700;
  text-align: center;
  color: #ff6600;
}

p {
  margin-top: 1rem;
}

.largeButton {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 2vh;
  background-color: #ff6600;
  width: 20vh;
  height: 20vh;
  border-radius: 50%;
  font-size: 18vh;
  font-weight: 700;
  color: #ffffff;
  border-color: #ffffff;
  border-style: solid;
  line-height: 0;
}

.largeButtonText{
  font-size: 5vh;
}

.largeP{
  padding-bottom: 4vh;
}

.smallButton {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 0.75vh;
  background-color: #ff6600;
  width: 10vh;
  height: 10vh;
  border-radius: 50%;
  font-size: 8vh;
  color: #ffffff;
  border-color: #ffffff;
  border-style: solid;
  line-height: 0;
}

.smallButtonText {
  padding-bottom: 0.25vh;
  font-size: 2.5vh;
}

.smallH{
  padding-top: 1vh;
}

.smallP{
  padding-bottom: 2vh;
}

.largeContactButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff6600;
  width: 20vh;
  height: 20vh;
  border-radius: 50%;
  font-size: 14vh;
  color: #ffffff;
  border-color: #ffffff;
  border-style: solid;
  line-height: 0;
}

/*.linkedinIcon{*/
/*  padding-left: 3vh;*/
/*}*/

.navbuttonshome img, .contactbuttons img {
  width: auto;
  height: 20vh;
object-fit: contain;
}

.navbuttonscontent img {
  width: 6.25rem;
  height: 6.25rem;
  object-fit: contain;
}

.navbuttonshome, .contactbuttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5vh;
}

.container {
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(1fr, 6.25rem));
}

.textbody {
  grid-column-start: 1;
  display: flex;
  flex-direction: column;
}

.projects {
  display: flex;
  flex-wrap: wrap;
}

.contactbutton {
  grid-row-start: 1;
  grid-column-start: 2;
}

.navbuttonscontent {
  grid-row-start: 2;
  grid-column-start: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2vw;
}

.transition-element {
  opacity: 1;
  transition: opacity 0.5s ease;
}

.transition-element.hide {
  opacity: 0;
}

@media only screen and (min-width: 600px) {
  .container {
    grid-template-rows: 1fr;
    grid-template-columns: 20vw 60vw 20vw;
  }
  .contactbuttons {
    grid-column-start: 2;
  }
  .navbuttonscontent {
    grid-row-start: 1;
    align-self: start;
    flex-direction: column;
  }
  .textbody {
    grid-column-start: 2;
  }
}

